*.log
wordpress/.htaccess
wordpress/sitemap.xml
wordpress/sitemap.xml.gz
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/advanced-custom-fields-pro/
wordpress/wp-content/plugins/acf-mapbox-geojson-field/
wordpress/wp-content/plugins/acf-markdown-field/
wordpress/wp-content/themes/twenty*/
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/hello.php
.DS_Store
node_modules/
node/node_modules/
node/configs/*.js
node/config.js
!node/configs/config.example.js
node/npm-debug.log
version.txt
