article
    border-radius 5px
    overflow hidden
    .title
        margin-top 0
        text-align center
        a
            color inherit
            transition color .2s ease-out
            &:hover
                color #01b2f1
                text-decoration none
    a
        color #01b2f1
    .post-info
        text-align center
    pre
        margin-left -80px
        margin-right -80px
        code
            padding 40px 90px !important
            font-size 14px
    pre
    code
        font-family Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace
    @media screen and (max-width: 768px)
        margin-left 0
        margin-right 0
