.round
    border-radius 100%

.author
    position absolute
    top -35px
    left 50%
    width 70px
    height 70px
    margin-left -35px
    img
        border 2px solid white
        width 100%
        box-sizing border-box
.portrait
    border-radius 100%
    &.small
        width 50px
        height 50px

.relative
    position relative

.ib
    display inline-block
