html
    font-size 16px
    background no-repeat center center fixed
    background-size cover

body
    &.gradient-bg
        &:before
            @extend .panel-light-blue-to-dark-blue
            content ''
            position fixed
            top 0
            right 0
            bottom 0
            left 0
            z-index -1
    .site
        width 1080px
        max-width 80%
pre
code
    font-family Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace
    font-size 14px

h1
    padding-bottom .3em
    font-size 2em
    line-height 1.2
    a
        text-decoration none

.content-width
    width 100%
    max-width 860px

.no-dec
    text-decoration none

a
    color #01b2f1