@require 'settings'

generatePanels(list)
    for c in list
        .panel-{c}
            background-color list[c]
        .hover-panel-{c}
            transition background-color .2s
            &:hover
                background-color list[c]

generatePanels(colors)
generatePanels(usebrandcolors)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
    background-color startColor
    if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
        background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
    background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
