
colors = {
    "dark-gray": #3e3f3a,
    "light-gray": #9c9c9c,
    "white": #fff,
    "light-blue": #01a8d7,
    "blue": #00a7fa,
    "dark-blue": #026ea8,
    //"dark-gray": #2e2e2e,
    "code-bg": #23241f,
    "dark": #1b1e22,
    "light": darken(#f8f8f8, 10%)
}
