
colors = {
    "dark-gray": #3e3f3a,
    "light-gray": #9c9c9c,
    "white": #fff,
    "light-blue": #01b2f1,
    "blue": #00a7fa,
    "dark-blue": #026ea8,
    //"dark-gray": #2e2e2e,
    "code-bg": #232323,
    "dark": #1b1e22,
    "light": darken(#f8f8f8, 10%)
}

brandcolors = {
    '4ormat': #fb0a2a,
    '500px': #00aeef,
    'about-me': #00405d,
    'about-me-2': #062f3c,
    'about-me-3': #2b82ad,
    'about-me-4': #cc7a00,
    'about-me-5': #ffcc33,
    'addvocate': #ff3322,
    'adobe': #ff0000,
    'adobe-2': #fbb034,
    'adobe-3': #ffdd00,
    'adobe-4': #c1d82f,
    'adobe-5': #00a4e4,
    'adobe-6': #8a7967,
    'adobe-7': #6a737b,
    'aim': #ffd900,
    'amazon': #ff9900,
    'amazon-2': #146eb4,
    'android': #a4c639,
    'angie-s-list': #7fbb00,
    'aol': #ff0b00,
    'aol-2': #00c4ff,
    'asana': #1f8dd6,
    'asana-2': #34ad00,
    'atlassian': #003366,
    'behance': #1769ff,
    'big-cartel': #a0ac48,
    'big-cartel-2': #70b29c,
    'bitly': #ee6123,
    'bitly-2': #61b3de,
    'blogger': #f57d00,
    'boeing': #0039a6,
    'booking-com': #003580,
    'carbonmade': #613854,
    'cheddar': #ff7243,
    'coca-cola': #ed1c16,
    'code-school': #616f67,
    'code-school-2': #c68143,
    'coderwall': #343131,
    'creative-market': #8ba753,
    'delicious': #3399ff,
    'delicious-2': #222222,
    'delicious-3': #eeeeee,
    'dell': #0085c3,
    'dell-2': #7ab800,
    'dell-3': #f2af00,
    'dell-4': #dc5034,
    'dell-5': #ce1126,
    'dell-6': #b7295a,
    'dell-7': #6e2585,
    'dell-8': #71c6c1,
    'dell-9': #5482ab,
    'dell-10': #009bbb,
    'dell-11': #444444,
    'dell-12': #eeeeee,
    'designmoo': #e64b50,
    'designmoo-2': #dbc65d,
    'deviantart': #4e6252,
    'designer-news': #2d72d9,
    'devour': #ff0000,
    'dewalt': #febd17,
    'disqus': #2e9fff,
    'dribbble': #444444,
    'dribbble-2': #ea4c89,
    'dribbble-3': #8aba56,
    'dribbble-4': #ff8833,
    'dribbble-5': #00b6e3,
    'dribbble-6': #9ba5a8,
    'dropbox': #007ee5,
    'dropbox-2': #7b8994,
    'dropbox-3': #47525d,
    'dropbox-4': #3d464d,
    'drupal': #0077c0,
    'drupal-2': #81ceff,
    'drupal-3': #00598e,
    'dunked': #2f3238,
    'dunked-2': #3fc380,
    'ebay': #e53238,
    'ebay-2': #0064d2,
    'ebay-3': #f5af02,
    'ebay-4': #86b817,
    'engadget': #40b3ff,
    'envato': #82b541,
    'etsy': #d5641c,
    'evernote': #7ac142,
    'evernote-2': #808084,
    'fab-com': #dd0017,
    'fab-com-2': #000,
    'facebook': #3b5998,
    'firefox': #e66000,
    'firefox-2': #ff9500,
    'firefox-3': #ffcb00,
    'firefox-4': #00539f,
    'firefox-5': #0095dd,
    'firefox-6': #331e54,
    'firefox-7': #002147,
    'flickr': #0063dc,
    'flickr-2': #ff0084,
    'forrst': #5b9a68,
    'foursquare': #0072b1,
    'foursquare-2': #eeebac,
    'foursquare-3': #0cbadf,
    'foursquare-4': #8fd400,
    'foursquare-5': #ff7900,
    'foursquare-6': #ffcb00,
    'foursquare-7': #d1d4d3,
    'garmin': #007cc3,
    'tvtag': #f24e4e,
    'gimmebar': #d6156c,
    'github': #4183c4,
    'github-2': #999,
    'github-3': #666,
    'github-4': #333,
    'github-5': #6cc644,
    'github-6': #bd2c00,
    'github-7': #f93,
    'google': #4285f4,
    'google-2': #db4437,
    'google-3': #f4b400,
    'google-4': #0f9d58,
    'google-5': #e7e6dd,
    'google-plus': #dd4b39,
    'grooveshark': #f86f09,
    'grooveshark-2': #000,
    'groupon': #82b548,
    'hacker-news': #ff6600,
    'hellowallet': #0093d0,
    'heroku': #c9c3e6,
    'heroku-2': #6762a6,
    'hootsuite': #003265,
    'hootsuite-2': #f7e8d5,
    'hootsuite-3': #ffbd0a,
    'hootsuite-4': #c6af92,
    'hootsuite-5': #71685f,
    'hootsuite-6': #54493f,
    'hootsuite-7': #38322d,
    'houzz': #7ac142,
    'houzz-2': #000000,
    'hp': #0096d6,
    'hp-2': #d7410b,
    'html5': #e34f26,
    'hulu': #a5cd39,
    'hulu-2': #6bb03e,
    'ibm': #006699,
    'ikea': #ffcc00,
    'ikea-2': #003399,
    'imdb': #f5de50,
    'instagram': #3f729b,
    'instapaper': #000,
    'instapaper-2': #428bca,
    'intel': #0071c5,
    'intuit': #365ebf,
    'kickstarter': #2bde73,
    'kickstarter-2': #0f2105,
    'kippt': #d51007,
    'lastfm': #c3000d,
    'linkedin': #0976b4,
    'linkedin-2': #000,
    'livestream': #cf202e,
    'livestream-2': #232121,
    'livestream-3': #f78822,
    'livestream-4': #f6db35,
    'livestream-5': #6dc067,
    'livestream-6': #4185be,
    'livestream-7': #8f499c,
    'lumo': #576396,
    'mixpanel': #a086d3,
    'meetup': #e0393e,
    'netflix': #b9090b,
    'nokia': #124191,
    'nvidia': #76b900,
    'odnoklassniki': #ed812b,
    'opera': #cc0f16,
    'opera-2': #9c9e9f,
    'path': #ee3423,
    'paypal': #253b80,
    'paypal-2': #179bd7,
    'pinboard': #0000e6,
    'pinterest': #cc2127,
    'playstation': #003087,
    'pocket': #d3505a,
    'pocket-2': #478f8f,
    'prezi': #318bff,
    'quora': #a82400,
    'quote-fm': #66ceff,
    'rdio': #007dc3,
    'readability': #900,
    'red-hat': #cc0000,
    'reddit': #ff4500,
    'reddit-2': #5f99cf,
    'reddit-3': #cee3f8,
    'rockpack': #0ba6ab,
    'roon': #62b0d9,
    'rss': #f26522,
    'salesforce': #1798c1,
    'salesforce-2': #ff1100,
    'samsung': #1428a0,
    'samsung-2': #75787b,
    'samsung-3': #0689d8,
    'samsung-4': #ffc600,
    'samsung-5': #ff6900,
    'samsung-6': #e4002b,
    'samsung-7': #c800a1,
    'samsung-8': #685bc7,
    'samsung-9': #0057b8,
    'samsung-10': #00a9e0,
    'samsung-11': #009ca6,
    'samsung-12': #00b140,
    'shopify': #96bf48,
    'shopify-2': #479ccf,
    'shopify-3': #2d3538,
    'shopify-4': #f5f5f5,
    'shopify-5': #f2f7fa,
    'shopify-6': #666666,
    'skype': #00aff0,
    'smashing-magazine': #e53b2c,
    'smashing-magazine-2': #41b7d8,
    'snagajob': #f47a20,
    'softonic': #008ace,
    'soundcloud': #f80,
    'soundcloud-2': #f30,
    'spotify': #7ab800,
    'sprint': #ffe100,
    'squarespace': #222,
    'stackoverflow': #fe7a15,
    'staples': #cc0000,
    'staples-2': #2c8aec,
    'staples-3': #ffcc00,
    'status-chart': #d7584f,
    'stripe': #00afe1,
    'studyblue': #00afe1,
    'stumbleupon': #eb4924,
    't-mobile': #e20074,
    'technorati': #390,
    'the-next-web': #ff3c1f,
    'the-next-web-2': #26313b,
    'the-next-web-3': #4e5860,
    'the-next-web-4': #a6abaf,
    'the-next-web-5': #d9e0e2,
    'the-next-web-6': #fafbfc,
    'treehouse': #6fbc6d,
    'treehouse-2': #47535b,
    'trello': #256a92,
    'trulia': #5eab1f,
    'tumblr': #35465c,
    'twitch-tv': #6441a5,
    'twitter': #55acee,
    'twitter-2': #292f33,
    'twitter-3': #66757f,
    'twitter-4': #8899a6,
    'twitter-5': #ccd6dd,
    'twitter-6': #e1e8ed,
    'twitter-7': #f5f8fa,
    'typekit': #98ce1e,
    'ubuntu': #dd4814,
    'ubuntu-2': #77216f,
    'ubuntu-3': #5e2750,
    'ubuntu-4': #2c001e,
    'ubuntu-5': #aea79f,
    'ubuntu-6': #333333,
    'ustream': #3388ff,
    'verizon': #f00,
    'verizon-2': #f2f2f2,
    'verizon-3': #3285dc,
    'vimeo': #162221,
    'vimeo-2': #1ab7ea,
    'vine': #00b488,
    'virb': #1e91d0,
    'virgin-media': #c3092d,
    'virgin-media-2': #222221,
    'vkontakte': #45668e,
    'wooga': #5b009c,
    'wordpress': #21759b,
    'wordpress-2': #d54e21,
    'wordpress-3': #464646,
    'wunderlist': #2b96f1,
    'xbox': #107c10,
    'xing': #026466,
    'xing-2': #cfdc00,
    'yahoo': #400191,
    'yandex': #ffcc00,
    'yelp': #af0606,
    'youtube': #e52d27,
    'youtube-2': #b31217,
    'youtube-3': #000,
    'zendesk': #78a300,
    'zendesk-2': #f1f1f1,
    'zendesk-3': #444,
    'zerply': #9dbc7a,
    'microsoft': #f65314,
    'microsoft-2': #7cbb00,
    'microsoft-3': #00a1f1,
    'microsoft-4': #ffbb00,
    'windows': #00bcf2,
    'microsoft-office': #ea3e23,
    'windows-phone': #68217a,
    'bing': #ffb900,
    'kiwipay': #00b0df,
    'wordpress-com': #1e8cbe,
    'django': #092e20,
    'geocaching': #4a742c,
    'arch-linux': #1793d1,
    'arch-linux-2': #333333,
    'gittip': #663300,
    'gittip-2': #339966,
    'flattr': #f67c1a,
    'flattr-2': #338d11,
    'hsbc': #db0011,
    'zopim': #ff9d3b,
    'bitbucket': #205081,
    'strava': #fc4c02,
    'ghost': #212425,
    'ghost-2': #718087,
    'ghost-3': #5ba4e5,
    'ghost-4': #9fbb58,
    'ghost-5': #e9e8dd,
    'typo3': #ff8600,
    'univision': #c822b0,
    'motorola': #5c92fa,
    'godaddy': #7db701,
    'godaddy-2': #ff8a00,
    'espn': #f03,
    'reverbnation': #e43526,
    'pandora': #015486,
    'plasso': #6585ed,
    'plasso-2': #f5756c,
    'plasso-3': #98afc0,
    'plasso-4': #2f3148,
    'powerpoint': #f04e23,
    'outlook': #0072c6,
    'excel': #008641,
    'word': #0054a6,
    'onenote': #662d91,
    'onedrive': #094ab2,
    'slideshare': #e98325,
    'slideshare-2': #07a,
    'slideshare-3': #00a7a9,
    'klout': #e44600,
    'klout-2': #645357,
    'klout-3': #01b9ff,
    'digg': #000000,
    'taco-bell': #36399a,
    'taco-bell-2': #ed008c,
    'taco-bell-3': #fee012,
    'mcdonald-s': #ffc82d,
    'mcdonald-s-2': #d3222a,
    'burger-king': #fcbc10,
    'burger-king-2': #ed1c24,
    'burger-king-3': #0066b3,
    'pepsi': #05345c,
    'pepsi-2': #0085ca,
    'pepsi-3': #e8112d,
    'amd': #f00,
    'amd-2': #000,
    'dish': #ed1420,
    'flipkart-com': #005d93,
    'flipkart-com-2': #fcd200,
    'at-t': #ff7200,
    'at-t-2': #067ab4,
    'at-t-3': #b6bf00,
    'at-t-4': #6ebb1f,
    'at-t-5': #b30a3c,
    'at-t-6': #81017e,
    'at-t-7': #0c2577,
    'arm': #0084ab,
    'alibaba': #f60,
    'freshbooks': #0d83dd,
    'freshbooks-2': #86c620,
    'freshbooks-3': #648c0f,
    'freshbooks-4': #040505,
    'harvest': #f36c00,
    'harvest-2': #231f20,
    'wave-accounting': #72cac8,
    'wave-accounting-2': #00929f,
    'xero': #00b7e3,
    'kashflow': #d6345f,
    'mailchimp': #2c9ab7,
    'mailchimp-2': #449a88,
    'mailchimp-3': #febe12,
    'mailchimp-4': #db3a1b,
    'mailchimp-5': #373737,
    'authorize-net': #2f5571,
    'campaign-monitor': #19a9e5,
    'campaign-monitor-2': #72d0eb,
    'campaign-monitor-3': #7ebd26,
    'campaign-monitor-4': #b9dc2f,
    'constant-contact': #17488a,
    'eventbrite': #ff8000,
    'wufoo': #c83a24,
    'hubspot': #4a5b67,
    'hubspot-2': #f7761f,
    'arduino': #00979d,
    'snapchat': #fffc00,
    'whatsapp': #34af23,
    'simple': #ec7962,
    'simple-2': #3d899a,
    'simple-3': #76a9b4,
    'mapbox': #3bb2d0,
    'laravel': #f87f73,
    'walmart': #fdbb30,
    'walmart-2': #1a75cf,
    'walmart-3': #003896,
    'walmart-4': #6cabe7,
    'broadcom': #e51937,
    'broadcom-2': #231f20,
    'tripadvisor': #589742,
    'tripadvisor-2': #231f20,
    'tripadvisor-3': #ec2028,
    'tripadvisor-4': #fedf9e,
    'magento': #ef672f,
    'sugarcrm': #e61718,
    'woothemes': #42a2ce,
    'woothemes-2': #255a8c,
    'woothemes-3': #71b02f,
    'woothemes-4': #a46497,
    'woocommerce': #a46497,
    'codepen': #76daff,
    'codepen-2': #a561cb,
    'codepen-3': #66ce5b,
    'codepen-4': #f7ec13,
    'codepen-5': #d75e5e,
    'better-business-bureau': #005a78,
    'discover': #f68121,
    'discover-2': #242021,
    'american-express': #007bc1,
    'mastercard': #0a3a82,
    'mastercard-2': #ee2d24,
    'mastercard-3': #fbb134,
    'visa': #0157a2,
    'visa-2': #f6a41d,
    'vistaprint': #00539f,
    'vistaprint-2': #ffe513,
    'vistaprint-3': #ee4498,
    'vistaprint-4': #2c99da,
    'radioshack': #f06548,
    'mixpanel': #00a9d2,
    'mixpanel-2': #ee8460,
    'mixpanel-3': #ebbb62,
    'mixpanel-4': #00c7b2,
    'mixpanel-5': #c271b0,
    'basecamp': #66cc66,
    'basecamp-2': #17ad49,
    'basecamp-3': #b6deff,
    'basecamp-4': #000,
    'podio': #3376a4,
    'whatsapp': #34af23,
    'whatsapp-2': #64d448,
    'beats': #f00,
    'blizzard': #01b2f1,
    'desk-com': #674397,
    'desk-com-2': #435f98,
    'desk-com-3': #08b087,
    'desk-com-4': #a58559,
    'desk-com-5': #f0f0ed,
    'desk-com-6': #121214,
    'easyjet': #f60,
    'gopro': #00aeef,
    'gopro-2': #005dac,
    'cisco': #15495d,
    'cisco-2': #c4122e,
    'mozilla': #c13832,
    'mozilla-2': #d7d3c8,
    'mozilla-3': #4d4e53,
    'thunderbird': #00539f,
    'thunderbird-2': #0095dd,
    'thunderbird-3': #f5efe6,
    'shazam': #1b87e3,
    'toyota': #d92027,
    'zte': #0a50a0,
    'zte-2': #1ba5e1,
    'xiaomi': #ff4a00,
    'vsco': #211e1e,
    'vsco-2': #a8a749,
    'uber': #1fbad6,
    'snapchat': #fffc00,
    'rovio': #c02227,
    'nintendo': #8c8c8c,
    'line': #1dcd00,
    'lg': #c40950,
    'lg-2': #6d6e72,
    'htc': #69b40f,
    'airbnb': #ff5a5f,
    'brandfolder': #40d1f5,
    'brandfolder-2': #3bc7eb,
    'brandfolder-3': #2ba2d6,
    'brandfolder-4': #252c2f,
    'brandfolder-5': #00ee88,
    'brandfolder-6': #333333,
    'brandfolder-7': #384650,
    'brandfolder-8': #fa3e26,
    'brandfolder-9': #eff056,
    'brandfolder-10': #dde2e6,
    'brandfolder-11': #f6f8f9,
    'foxconn': #0165b0,
    'huawei': #d62d24,
    'qualcomm': #005daa,
    'softbank': #fbbd09,
    'ge': #019ddd,
    'vodafone': #e60000,
    'acer': #83b81a,
    'china-monile': #1d64b8,
    'corning': #069,
    'ntt-docomo': #c03,
    'starbucks': #00704a,
    'expedia': #003050,
    'expedia-2': #ffcb00,
    'buzzfeed': #ee3322,
    'box': #00aeef,
    'hart': #f23f3f,
    'hart-2': #ff7f3b,
    'hart-3': #f2c83f,
    'hart-4': #3ac95c,
    'hart-5': #3bbdca,
    'hart-6': #4a95ff,
    'hart-7': #ac59ff,
    'hart-8': #ff8aed,
}

usebrandcolors = {
    'instagram': brandcolors['instagram'],
    'facebook': brandcolors['facebook'],
    'github': brandcolors['github'],
    'twitter': brandcolors['twitter'],
    'coderwall': brandcolors['coderwall'],
    'spotify': brandcolors['spotify'],
    'skype': brandcolors['skype'],
    'linkedin': brandcolors['linkedin'],
    'dribbble': brandcolors['dribbble'],
    'lastfm': brandcolors['lastfm'],
    'vimeo': brandcolors['vimeo'],
    'hacker-news': brandcolors['hacker-news'],
    'stackoverflow': brandcolors['stackoverflow'],
    '500px': brandcolors['500px'],
}
