@require 'settings'
@require 'typographic'

$serif = 'Playfair Display', serif
$sans-serif = 'Open Sans', sans-serif
$sans-serif-alt = 'Montserrat'


.serif
    font-family $serif
    font-weight 400
.sans-serif
    font-family $sans-serif
    font-weight 400
.sans-serif-alt
    font-family $sans-serif-alt
    font-weight 400

.bold
.b
b
strong
    font-weight 700

.italic
.i
    font-style italic

.center-text
    text-align center

for c in colors
    .c-{c}
        color colors[c]
    .hover-c-{c}
        transition color .2s
        &:hover
            color colors[c]

.h1
    padding-bottom 0.3em
    font-size 2em
    line-height 1.2

.h2
    padding-bottom 0.3em
    font-size 1.75em
    line-height 1.225

.h3
    font-size 1.5em
    line-height 1.43

.h4
    font-size 1.25em

.h5
    font-size 1em

.h6
    font-size 1em
    color #777

.text-small
    font-size 0.8em

.uppercase
.uc
    text-transform uppercase

.lowercase
.lc
    text-transform lowercase